{{extend 'layout.html'}}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Tópicos</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{=form_registro}}
    </div>
</div>
